.main__content {
  display: flex;
  margin-top: $size-104px;
  margin-bottom: $size-204px;
  
  .cv__content--container {
    margin-left: $size-72px;
    width: 80vw;
    height: 100vh;
    display: flex;
  }
}