.header__container {
  background-color: $base-black;
  color: $text-white;
  height: $size-72px;
  display: flex;
  align-items: center;

  .header__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: $size-28px;

      span {
        color: $primary-clr;
      }
    }

    .download__pdf--container {

      .download__pdf--btn {
        display: flex;
        align-items: center;
        gap: $size-8px;
        
        img {
          filter: invert(1);
        }
      }
    }
  }
}