@mixin side-bar($width, $height) {
  width: $width;
  height: $height;
  background-color: $base-black;
  border-radius: $size-12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side__nav--container {
  display: flex;
  flex-direction: column;
  gap: $size-32px;

  .side__bar--contents {
    @include side-bar($size-72px, $size-280px);
    flex-direction: column;
    gap: $size-20px;

    img {
      width: $size-40px;
    }
  }

  .lower__sidebar--contents {
    display: flex;
    flex-direction: column;
    gap: $size-12px;
  }

  .preview__nav--container, .download__nav--container{
    @include side-bar($size-72px, $size-72px);

    img {
      width: $size-40px;
      filter: invert(1);
    }
  }
}