.container {
  width: 100%;
  max-width: 1200px; 
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.btn--primary {
  background-color: $primary-clr;
  padding: $size-8px  $size-40px;
  border-radius: $size-4px;
}

// inputs style declarations
.input__container {
  display: flex;
  flex-direction: column;
  gap: $size-4px;
} 

.input__label {
  display: block;
  font-size: .9rem;
  font-weight: bold;
  color: var(--clr-accent);
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input, .text__area, .select {
  max-width: inherit;
  height: 36px;
  background-color: $bg-primary;
  border-radius: 0.25rem;
  padding: 0 0.6rem;
  border: solid 1px #d5d7da;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.text__area {
  height: auto;
  min-height: 80px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  resize: vertical;
}