.container {
  width: 100%;
  max-width: 1200px; 
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.main__content {
  margin-top: $size-104px;
}

.btn--primary {
  background-color: $primary-clr;
  padding: $size-8px  $size-40px;
  border-radius: $size-4px;
}