@mixin card-style($padding-vertical, $padding-horizontal, $box-shadow) {
  background-color: $bg-primary;
  border-radius: $size-8px;
  border: $form-border-1;
  width: 424px;
  padding: $padding-vertical $padding-horizontal;
  box-shadow: $box-shadow;
}

.personal__details--container, .education__details--container, .skills__details--container{
  display: flex;
  flex-direction: column;
  gap: $size-20px;

  .content__form--container {
    @include card-style( $size-40px, $size-28px, $box-shadow-1);
  }

  h1 {
    font-size: $size-36px;
  }

  .form__container {
    @include card-style( $size-40px, $size-28px, $box-shadow-1);

    form {
      display: flex;
      flex-direction: column;
      gap: $size-24px;
    }

    button {
      align-self: flex-start;
    }
  }

  .personal__details--card {
    @include card-style( $size-24px, $size-28px, $box-shadow-1);
  }

  .education__details--card {
    display: flex;
    flex-direction: column;
    gap: $size-12px;
    .education__card {
      @include card-style( $size-12px, $size-28px, none);
      display: flex;
      align-items: center;
      justify-content: space-between;

      .education__card--left {
        display: flex;
        flex-direction: column;
        gap: $size-4px;
        
        h1 {
          font-size: $size-20px;
        }
      }

      .education__card--right {

        img {
          width: $size-24px;
        }
      }
    }
  }
}

.language__form--container {
  margin-top: $size-40px;

  .form__title {
    font-size: $size-20px;
    margin-bottom: $size-28px;
  }

  .language__form--contents {
    display: flex;
    flex-direction: column;
    gap: $size-12px;

    .language__input--container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-size: $size-20px;
      }
    }

    .add__more--btn {
      align-self: center;
      margin-top: $size-44px;
    }
  }
}