.preview__page--container {
  width: 215.9mm;
  min-height: 279.4mm;
  margin: auto;
  padding: 1rem;
  background: $bg-primary;
  color: $text-primary;
  box-shadow: $box-shadow-2;
  transform: scale(0.9); 
  transform-origin: top center;

  .personal__details--section {
    height: $size-156px;
    display: flex;
    flex-direction: column;
    gap: $size-16px;

    .personal__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $size-8px;

      h1 {
        font-size: $size-32px;
      }
  
      p {
        font-size: $size-16px;
        font-weight: 600;
      }
    }

    .personal__others--container {
      display: flex;
      justify-content: center;
      gap: $size-8px;

      .details__container {
        display: flex;
        align-items: center;
        gap: $size-4px;

        img {
          width: $size-20px;
        }

        p {
          font-size: 0.9rem;
          line-height: 1.2;
          margin: 0 0.365rem;
        }
      }
    }
  }
}

.preview__page--container {
  
  .education__details--section {
    display: flex;
    flex-direction: column;
    gap: $size-12px;

    h1 {
      font-size: $size-24px;
    }

    .education__cards--container {
      display: flex;
      flex-direction: column;
      gap: $size-24px;
    }

    .educ__resume--card {

      .card__content--first, .card__content--second {
        display: flex;
        justify-content: space-between;
        
        .school--text {
          font-size: $size-16px;
        }

       .address--text {
        text-align: right;
        font-size: 0.875rem;
       }

       .degree--text {
        font-style: italic;
        font-size: 0.875rem;
       }
      }
    }
  }
}

//Font for header - Resume -->   font-family: "Merriweather", serif;
//Font for body text - Resume -->    font-family: "Open Sans", sans-serif;
