.resume__wrapper {
  width: 215.9mm;
  min-height: 279.4mm;
  padding: 2rem;
  background: $bg-primary;
  color: $text-primary;
  box-shadow: $box-shadow-2;
  transform: scale(0.65);
  transform-origin: top center;
  max-width: 100%;
  overflow-y: auto; 
  overflow-x: hidden; 
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none; 
  }
}
.preview__page--container {
  
  .resume__body--contents {
    display: flex;
    flex-direction: column;
    gap: $size-40px;
  }

  .personal__details--section {
    height: $size-140px;
    display: flex;
    flex-direction: column;
    gap: $size-16px;

    .personal__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $size-8px;

      h1 {
        font-size: $size-32px;
      }
  
      p {
        font-size: $size-16px;
        font-weight: 600;
      }
    }

    .personal__others--container {
      display: flex;
      justify-content: center;
      gap: $size-8px;

      .details__container {
        display: flex;
        align-items: center;
        gap: $size-4px;

        img {
          width: $size-20px;
        }

        p {
          font-size: 0.9rem;
          line-height: 1.2;
          margin: 0 0.365rem;
        }
      }
    }
  }
}

.preview__page--container {
  
  .education__details--section {
    display: flex;
    flex-direction: column;
    gap: $size-12px;

    h1 {
      font-size: $size-24px;
    }

    .education__cards--container {
      display: flex;
      flex-direction: column;
      gap: $size-24px;
    }

    .educ__resume--card {

      .card__content--first, .card__content--second {
        display: flex;
        justify-content: space-between;
        
        .school--text {
          font-size: $size-16px;
        }

       .address--text {
        text-align: right;
        font-size: 0.875rem;
       }

       .degree--text {
        font-style: italic;
        font-size: 0.875rem;
       }
      }
    }
  }
}

.preview__page--container {
  
  .work__details--section {
    display: flex;
    flex-direction: column;
    gap: $size-12px;

    h1 {
      font-size: $size-24px;
    }

    .work__card--container {

      .work__resume--card {

        .card__content--first {
          display: flex;
          justify-content: space-between;
        }

        .card__content--third {
          margin-top: $size-8px;

          ul {
            list-style-type: disc;
            margin-left: 1.5rem;
            display: flex;
            flex-direction: column;
            gap: $size-4px;
          }
        }
      }
    }
  }
}

.technical__details--section {
  display: flex;
  flex-direction: column;
  gap: $size-12px;

  h1 {
    font-size: $size-24px;
  }
  
  .technical__content--container {
    display: flex;
    flex-direction: column;
    gap: $size-4px;

    .skills__container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; 
      gap: $size-8px; 
      border: none; 
    
      h4 {
        font-size: 0.875rem;
        flex-shrink: 0; 
        width: 30%; 
      }
    
      p {
        font-size: 0.875rem;
        flex-grow: 1; 
        word-wrap: break-word; 
        margin: 0;
      }
    }
  }
}